<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <form action="/order/join" method="post">
            <div>
                <label for="member">고객 이름</label>
                <input type="text" id="member" name="member" placeholder="이름 입력">
            </div>
            <div>
                <label for="pNumber">구매 개수</label>
                <input type="text" id="pNumber" name="pNumber" placeholder="상품 개수 입력">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
    </body>
</http>